.profile__subtitle {
  margin: 16px 0 0;
  font-size: 18px;
  line-height: 22px;
  width: 318px;
  max-width: 318px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 300px) and (max-width: 920px) {
  .profile__subtitle {
    width: 280px;
    max-width: 280px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    margin: 14px 0 0;
  }
}
