.footer {
  margin: 66px 0 60px;
  width: 882px;
  max-width: 882px;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (min-width: 300px) and (max-width: 619px) {
  .footer {
    width: 282px;
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    margin: 48px 0 36px;
  }
}

@media screen and (min-width: 620px) and (max-width: 920px) {
  .footer {
    width: 582px;
    max-width: 582px;
  }
}
