.element__delete {
  background-image: url(../../../images/popup__delete-icon.svg);
  width: 18px;
  height: 20px;
  position: absolute;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  right: 15px;
  top: 18px;
}

.element__delete:hover {
  opacity: 0.6;
  cursor: pointer;
}
