.popup__input {
  border: none;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid rgba(00, 00, 00, .2);
  width: 358px;
  max-width: 358px;
  padding: 0 0 13px;
  margin: 0 0 13.4px;
}

.popup__input:nth-child(2) {
  margin: 0 0 30px;
}

@media screen and (min-width: 300px) and (max-width: 619px) {
  .popup__input {
    width: 245px;
    max-width: 245px;
  }
}
