@import url(./__logo/header__logo.css);
@import url(./__auth/header__auth.css);
@import url(./__link/header__link.css);

.header {
  display: flex;
  width: 882px;
  max-width: 882px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  padding: 0 0 41px;
  margin: 45px 0 60px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 300px) and (max-width: 619px) {
  .header {
    width: 320px;
    max-width: 320px;
    margin: 28px 0 36.25px;
  }
}

@media screen and (min-width: 620px) and (max-width: 920px) {
  .header {
    width: 582px;
    max-width: 582px;
  }
}
