@import url(../header/__logo/header__logo.css);

.header {
  display: flex;
  width: 882px;
  max-width: 882px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin: 45px 0 36.25px;
}

@media screen and (min-width: 300px) and (max-width: 619px) {
  .header {
    width: 320px;
    max-width: 320px;
    margin: 28px 0 36.25px;
  }
}

@media screen and (min-width: 620px) and (max-width: 920px) {
  .header {
    width: 582px;
    max-width: 582px;
  }
}
